<!DOCTYPE html>
<head>
    <title>
    Info
    </title>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <div class="container">
        <h1>Hi,</h1>
    <h2>I'm Greg, the developer of this tiny website</h2>
    <p>Built with Bootstrap,Flask micro-framework and <strong style="color: red;">love</strong></p>
</div>
</body>