{%extends "base.html"%}
        {%block title%}La Delia{%endblock%}
        {% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='prod.css')}}">
{% endblock %}
    {%block page_content%}
        <h1>Bine ati venit la Delia!</h1>
        {%for x in prod%}

<div class="col-md-4 column productbox">
    <a href="/products/{{x['name']}}">
    <img src="{{url_for('static', filename='products/'+x['photo'])}}" class="img-responsive">
    <div class="producttitle">{{x['name']}}</div>
</a>
    <div class="productprice"><div class="pull-right"><a href="/not-finished" class="btn btn-danger btn-sm" role="button">Cumpara</a></div><div class="pricetext">{{x['price']}} Lei</div></div>
</div>
{%endfor%}
    {%endblock%}
