{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block page_content%}
<div class="page-header">
    <h1>Parerile Clientilor nostri</h1>
    </div>
    <table class="table table-striped w-auto">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nume</th>
              <th scope="col">Email</th>
              <th scope='col'>Mesaj</th>
            </tr>
          </thead>
        {% for u in data %}
            <tr>
            
                <td>{{u['id']}}</td>
                <td>{{u['name']}}</td>
                <td>{{u['email']}}</td>
                <td>{{u['message']}}</td>
            
            </tr>
        {% endfor %}
        </table>
{% endblock %}