{%extends "base.html"%}
        {%block title%}Produs - {{product['name']}}{%endblock%}
        
    {%block page_content%}
        <div class="card">
    <div class="row">
        <aside class="col-sm-5 border-right">
<div class="img-big-wrap">
  <div> <a href="#"><img src="{{url_for('static', filename='products/'+product['photo'])}}" class="img-fluid" height="auto" width="330"></a></div>
</div> <!-- slider-product.// -->

        </aside>
        <aside class="col-sm-7">
<article class="card-body p-5">
    <h3 class="title mb-3">{{product['name']}}</h3>

<p class="price-detail-wrap"> 
    <span class="price h3 text-warning"> 
        <span class="currency">Lei </span><span class="num">{{product['price']}}</span>
    </span> 
    <span>/ perechea</span>
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Description</dt>
  <dd><p>{{product['description']}}</p></dd>
</dl>

<dl class="param param-feature">
  <dt>Culoare</dt>
  <dd>La preferinta</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Transport</dt>
  <dd>Ridicare de la Florarie</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
    <div class="row">
        <div class="col-sm-5">
            <dl class="param param-inline">
              <dt>Quantity: </dt>
              <dd>
                <select class="form-control form-control-sm" style="width:70px;">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                </select>
              </dd>
            </dl>  <!-- item-property .// -->
        </div> <!-- col.// -->

    </div> <!-- row.// -->
    <hr>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> Cumpara acum </a>
</article> <!-- card-body.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
    {%endblock%}
